body {
    background-color: lightblue;

    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#container {
    display: flex;

    width: 960px;
    
    border: 5px dotted blue;
}

.column {
    display: flex;
    flex-direction: column;
}

.cell {
    background-color: white;
    width: var(--cell_dimension);
    height: var(--cell_dimension);
}